#button-up {
  align-items: center;
  background-color: royalblue;
  border-radius: 50%;
  border: 5px solid white;
  bottom: 3rem;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  height: 50px;
  justify-content: center;
  position: fixed;
  right: 5rem;
  transform: scale(0);
  transition: all 0.1s ease-in;
  width: 50px;
}

#button-up:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  #button-up {
    bottom: 2rem;
    right: 2rem;
  }
}
