body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}

a {
  color: rgb(46, 46, 46);
  font-size: 1.6rem;
  text-decoration: none;
}

.wrapper_hero--title {
  font-size: clamp(2.2rem, 5vw, 3rem);
}

.wrapper_hero--text {
  font-size: clamp(1.8rem, 5vw, 2rem);
  text-align: center;
}
